
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>Expenses</h2>
</div>
<div class="row">
    <div class="col-sm-4">
       sadf
    </div>
    <div class="col-sm-4">
        asdf
    </div>

</div>
